<ul class="nav nav-tabs">
  <li><a href="#sidebar-project-view" data-toggle="tab">Project</a></li>
  <li><a href="#sidebar-objects-view" data-toggle="tab">Objects</a></li>
  <li><a href="#sidebar-files-view" data-toggle="tab">Files</a></li>
</ul>
<div class="well">
  <div class="tab-content">
    <% function _selectedClass(o) { %>
      <%- (typeof obj !== 'undefined' && obj.normalDir() === o.normalDir()) ? ' class="selected"' : '' %>
    <% } %>
    <% function _objLink(o, aText) { %>
      <a href="/project/<%= settings.project.name %>/object/<%= o.normalDir() %>/edit">
        <%= aText || (o.name + " (" + o.module.name + ")") %>
      </a>
    <% } %>
    <div class="tab-pane" id="sidebar-project-view">
      <div class="sidebar-list" id="sidebar-project-list">
        <ul class="show">
          <li class="folder expanded">
            <%= settings.project.name %>
            <ul>
              <% function renderDependencyList(o) { %>
                <li<% _selectedClass(o) %>>
                  <% _objLink(o) %>
                  <% if (o.dependencyList() && o.dependencyList().length) { %>
                    <ul>
                      <% o.dependencyList().forEach(function(d) {
                        renderDependencyList(d);
                      }); %>
                    </ul>
                  <% } %>
                </li>
              <% } %>
              <% settings.project.dependencyTree.forEach(function(d) {
                renderDependencyList(d);
              }); %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-pane" id="sidebar-objects-view">
      <div class="sidebar-list" id="sidebar-objects-list">
        <ul class="hide">
          <li class="folder expanded">
            <%= settings.project.name %>
            <ul>
              <% settings.project.configByType.forEach(function(type) { %>
                <li class="folder">
                  <%= type.name %>
                  <ul>
                    <% type.children.forEach(function(o) { %>
                      <%= console.log(obj.normalDir(), o.normalDir()) %></pre>
                      <li<% _selectedClass(o) %>>
                        <% _objLink(o) %>
                      </li>
                    <% }); %>
                  </ul>
                </li>
              <% }); %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-pane" id="sidebar-files-view">
      <div class="sidebar-list" id="sidebar-files-list">
        <ul class="hide">
          <li class="folder expanded">
            <%= settings.project.name %>
            <ul>
              <% function renderFile(file) { %>
                <li<%- file.children ? ' class="folder"' : '' %>>
                  <%= file.name %>
                  <% if (file.children) { %>
                    <ul>
                      <% file.children.forEach(function(f) {
                        renderFile(f);
                      }); %>
                    </ul>
                  <% } %>
                </li>
              <% } %>
              <% settings.project.files.forEach(function(f) {
                renderFile(f);
              }); %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>