<ul class="nav nav-tabs">
  <li><a href="#sidebar-project-view" data-toggle="tab">Project</a></li>
  <li><a href="#sidebar-objects-view" data-toggle="tab">Objects</a></li>
  <li><a href="#sidebar-files-view" data-toggle="tab">Files</a></li>
</ul>
<div class="well">
  <div class="btn-group">
    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-plus icon-white"></i>
      Create
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% viewLocals.generators.forEach(function(g) { %>
        <li>
          <a href="<%- g.path %>"> <%= g.label %></a>
        </li>
      <% }); %>
      <li class="divider"></li>
      <% viewLocals.subEditors.forEach(function(e) { %>
        <li>
          <a href="#" class="create-link" data-module-type="<%= e.name %>">Create <%= e.name %></a>
        </li>
      <% }); %>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane" id="sidebar-project-view">
      <input type="hidden" value="<%= viewLocals.project.names %>" />
      <div class="sidebar-list" id="sidebar-project-list">
      </div>
    </div>
    <div class="tab-pane" id="sidebar-objects-view">
      <div class="sidebar-list" id="sidebar-objects-list">
      </div>
    </div>
    <div class="tab-pane" id="sidebar-files-view">
      <div class="sidebar-list" id="sidebar-files-list">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  EDITOR_SIDEBAR_NAVIGATION = <%- JSON.stringify(viewLocals.project.navigationMenus) %>;
  CURRENT_OBJECT_DIR = <%- typeof obj !== 'undefined' ? "'" + obj.normalDir() + "'" : 'undefined' %>;
</script>