<% layout('layout'); %>

<% 
  script("/lib/js/jquery-ui.custom.min.js");
  script("/lib/js/jquery.dynatree.min.js");
  script("/js/editor.js");
%>

<%
  stylesheet("/lib/dynatree-skin/ui.dynatree.css") 
%>

<script type="text/javascript">
  var PROJECT = "<%- viewLocals.project.name %>";
</script>

<div class="navbar" id="global-loopback-subnav">
  <div class="navbar-inner">
    <a class="brand" href="/project/<%- viewLocals.project.name %>"><%- viewLocals.project.name %></a>
    <ul class="nav">
      <% viewLocals.editorUtils.forEach(function(u) { %>
        <li class="<%- viewLocals.currentUtility === u.name ? 'active' : '' %> <%-u.views ? 'dropdown' : '' %>">
          <% if (u.views) { %>
            <a href="#" data-toggle="dropdown">
              <%= u.options.title %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% (typeof u.views === 'function' ? u.views() : u.views).forEach(function(v) { %>
                <li class="<%- viewLocals.relativeUrl === v.path ? 'active' : '' %>">
                  <a href="/project/<%- viewLocals.project.name %>/utility/<%- u.name %><%- v.path %>"><%= v.title %></a>
                </li>
              <% }); %>
            </ul>
          <% } else { %> 
            <a href="/project/<%- viewLocals.project.name %>/utility/<%- u.name %>"><%= u.options.title %></a>
          <% } %>
        </li>
      <% }); %>
    </ul>
  </div>
</div>

<div class="fullpage-container">
  <div class="fullpage-sidebar" id="editor-sidebar">
    <%- include _editor-sidebar %>
  </div>
  <div class="fullpage-body">
    <%- typeof body === 'undefined' ? _body : body %>
  </div>
</div>

