<!DOCTYPE html>
<html>
<head>
  <title><%= blocks.title || "" %><%= blocks.title ? " | " : "" %>Asteroid Editor</title>
  <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/editor.css">
  <%- blocks.stylesheets %>
</head>
<body>
  <%- body %>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/lib/js/bootstrap.min.js"></script>
  <script src="/lib/js/jquery.cookie.js"></script>
  <%- blocks.scripts %>
</body>

</html>